PHPUPLOADER_MASTER_KEY=CHANGE_THIS_MASTER_KEY
PHPUPLOADER_ENCRYPTION_KEY=CHANGE_THIS_ENCRYPTION_KEY
PHPUPLOADER_SESSION_SALT=CHANGE_THIS_SESSION_SALT
PHPUPLOADER_TITLE=PHP Uploader
PHPUPLOADER_MAX_FILE_SIZE_MB=100
